<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main3</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main3.css' %}">
</head>
<body>
    <section>
        <div id="status-bar">
            <div id="time"></div>
            <div id="battery">
                <img class="battery1" src="{% static 'img/battery.jpg' %}">
            </div>
        </div>
    </section>
    
    <section>
        <div id="status-bar">
            <div class="logo">
                <img class="logo_img" src="{% static 'img/logo.jpg' %}">
            </div>
            <div class="img_wrap">
                <img src="{% static 'img/search.jpg' %}">
                <img class="img_bell" src="{% static 'img/bell.jpg' %}">
                <a href="myPage.html"><img src="{% static 'img/user0.jpg' %}"></a>
            </div>
        </div>
    </section>

    <nav>
        <ul class="menu">
            <li><a href="#" class="menu_link">타임라인</a></li>
            <li><a href="main2.html" class="menu_link">고민상담</a></li>
            <li><a href="main3.html" class="menu_link2">고함항아리</a></li>
        </ul>
    </nav>
    <section class="wrap">
        <div class="text0">말 못할 고민들 고함항아리에 다 털어버리세요!</div>
        <article>
            {% for post in posts %}
            <div class="boxes">
            <a href="#">
                <div class="title">
                    <p>{{post.content}}</p>
                </div>
                <div class="text_wrap">
                    <div class="text_wrap1">
                        <div><img src="{% static 'img/heart.jpg'%}"  class="img0"></div>
                        <div class="text1">공감</div>
                        <div class="text2">12회</div>
                    </div>
                </div>
            </a>
            </div>
            {%endfor%}
        </article>
    
        <aside>
            <a href="#">
                <button class="plus_btn">+</button>
            </a>
        </aside>
    </section>
<script src="{% static 'main3.js'%}"></script>
</body>
</html>