<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myPage.css' %}">
</head>
<body>
    <section>
        <div id="status-bar">
            <div id="time"></div>
            <div id="battery">
                <img class="battery1" src="{% static 'img/battery.jpg'%}">
            </div>
        </div>
    </section>
    <div class="arrow">
        <a href="main3.html">&lt;</a>
    </div>

    <section class="user_wrap">
        <div class="circle"></div>
        <div class="user">
            <div class="user_nick">
                <p>닉네임</p>
            </div>
            <div class="user_id">
                <p>아이디</p>
            </div>
        </div>
    </section>
    <hr class="hr">
    
    <section class="box">
        <div class="text"><a href="#">내가 쓴 글</a></div>
        <div class="arrow2"><a href="#">&gt;</a></div>
    </section>

    <section class="box">
        <div class="text"><a href="#">댓글 단 글</a></div>
        <div class="arrow2"><a href="#"> &gt;</a></div>
    </section>

    <hr class="hr">

    <section class="box">
        <div class="text">
            <a href="#">개인 정보 설정</a>
        </div>
        <div class="arrow2">
            <a href="#"> &gt;</a>
        </div>
    </section>

    <section class="box">
        <div class="text">
            <a href="#">공지사항</a>
        </div>
        <div class="arrow2">
            <a href="#">&gt;</a>
        </div>
    </section>

    <section class="box">
        <div class="text">
            <a href="#">더보기</a>
        </div>
        <div class="arrow2">
            <a href="#">&gt;</a>
        </div>
    </section>


<script src="{% static 'myPage.js'%}"></script>
</body>
</html>