<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPage</title>
    <link rel="stylesheet" type="text/css" href="pot2.css">
</head>
<body>
    <section>
        <div id="status-bar">
            <div id="time"></div>
            <div id="battery">
                <img class="battery1" src="img/battery.jpg">
            </div>
        </div>
    </section>
    <section class="wrap1">
        <div class="arrow">
            <a href="main3.html">&lt;</a>
        </div>
        <div class="text4">
            고함항아리
        </div>
    </section>

    <section class="text5">
        현재 내 감정을 가장 잘 표현하는 이모지를 골라주세요.
    </section>
    <section class="wrap_img1">
        <div class="wrap_img2">
            <div><img src="img2/1.png" class="img3" onclick="selectImage('img2/1.png')"></div>
            <div><img src="img2/2.png" class="img3" onclick="selectImage('img2/2.png')"></div>
            <div><img src="img2/3.png" class="img3" onclick="selectImage('img2/3.png')"></div>
            <div><img src="img2/4.png" class="img3" onclick="selectImage('img2/4.png')"></div>
            <div><img src="img2/5.png" class="img3" onclick="selectImage('img2/5.png')"></div>
        </div>
        <div class="wrap_img2">
            <div><img src="img2/6.png" class="img3" onclick="selectImage('img2/6.png')"></div>
            <div><img src="img2/7.png" class="img3" onclick="selectImage('img2/7.png')"></div>
            <div><img src="img2/8.png" class="img3" onclick="selectImage('img2/8.png')"></div>
            <div><img src="img2/9.png" class="img3" onclick="selectImage('img2/9.png')"></div>
            <div><img src="img2/10.png" class="img3" onclick="selectImage('img2/10.png')"></div>
        </div>
    </section>
    <section class="box3">
        <textarea class="textbox" placeholder="여기에 텍스트를 입력하세요."></textarea>
    </section>
    <aside>
        <a href="pot.html">
            <button class="plus_btn" onclick="goToNextPage();">업로드하기</button>
        </a>
    </aside>
<script src="pot2.js"></script>
</body>
</html>