<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="spl.css">
</head>
<body>
    <div class="Group250" style="width: 281px; height: 56px; left: 50px; top: 614px; position: absolute">
      <div class="Rectangle73" style="width: 281px; height: 56px; left: 0px; top: 0px; position: absolute; background: #52ACFF; border-radius: 10px; border: 0.75px #52ACFF solid"></div>
      <a href="memb.html"><div style="left: 110px; top: 17px; position: absolute; color: white; font-size: 16px; font-family: Noto Sans KR; font-weight: 500; letter-spacing: 0.32px; word-wrap: break-word">회원가입</div></a>
    </div>
    <div class="Group249" style="width: 281px; height: 56px; left: 50px; top: 685px; position: absolute">
      <div class="Rectangle74" style="width: 281px; height: 56px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #52ACFF solid"></div>
      <div style="left: 118px; top: 17px; position: absolute; color: #52ACFF; font-size: 16px; font-family: Noto Sans KR; font-weight: 500; letter-spacing: 0.32px; word-wrap: break-word">로그인</div>
    </div>
    <img class="Uniherse" src ="uniHerse.png" style="width: 250px; left: 70px; top: 216px; position: absolute; color: #52ACFF; font-size: 59.02px; font-family: Fredoka One; font-weight: 400; word-wrap: break-word"></img>
  </div>
</body>
</html>